@import url('https://fonts.googleapis.com/css?family=PT+Mono');


@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.card {
  display: block;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #c2c2c2;
  font-size: 12pt;
  padding: 15px;
  padding-top: 0px;
  font-family: 'PT Mono', sans-serif;
}
