@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes float {
	0% {
		transform: translateY(-2%);
	}
  50% {
    transform: translateY(2%);
  }
	100% {
		transform: translateY(-2%);
	}
}

.body {
  height: 100%;
	width: 900px;
	margin: auto;
  animation-name: slideDown;
  animation-duration: .5s;
	padding-bottom: 50px;
}

.card {
  display: block;
	box-sizing: border-box;
  margin: auto;
	margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
  border-radius: 2px;
  text-align: center;
  border: 1px solid #c2c2c2;
  font-family: 'PT Mono', sans-serif;
  font-size: 12pt;
	padding: 15px;
	width: 100%;
}

.name {
  width: 100%;
  padding-top:40px;
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
}

.image {
  margin-top: 30px;
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: block;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 1000px) {
  .body {
		width: 90%;
	}
}

@media screen and (max-width: 344px) {
  .image {
		width: 100%;
	}
}
