@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card {
  margin: auto;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #c2c2c2;
  font-family: 'PT Mono', sans-serif;
  font-size: 12pt;
  padding: 15px;
  padding-top: 15px;
}

.image {
  width: 100%;
  height: auto;
}

.imageBox1 {
  width: 25%;
  overflow: hidden;
  margin: auto;
  animation-name: fadeIn;
  animation-duration: 1s;

}
.imageBox2 {
  width: 25%;
  margin: auto;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 1.33s;
}
.imageBox3 {
  width: 25%;
  overflow: hidden;
  margin: auto;
  animation-name: fadeIn;
  animation-duration: 1.66s;
}
.imageBox4 {
  width: 25%;
  overflow: hidden;
  margin: auto;
  animation-name: fadeIn;
  animation-duration: 2s;
}
